In [1]:
# EXERCISE: GET TOP 10 MOVIES FROM IMDB

In [2]:
# VERIFING WEBSITE PROPERTIES
import requests
from requests.exceptions import HTTPError

robots = None
URL = "https://www.imdb.com/robots.txt"

try:
  resposta = requests.get(URL)
  resposta.raise_for_status()
except HTTPError as exc:
  print(exc)
else:
  robots = resposta.text
  print(robots)

# robots.txt for https://www.imdb.com properties
User-agent: *
Disallow: /OnThisDay
Disallow: /ads/
Disallow: /ap/
Disallow: /mymovies/
Disallow: /r/
Disallow: /register
Disallow: /registration/
Disallow: /search/name-text
Disallow: /search/title-text
Disallow: /find
Disallow: /find$
Disallow: /find/
Disallow: /tvschedule
Disallow: /updates
Disallow: /watch/_ajax/option
Disallow: /_json/video/mon
Disallow: /_json/getAdsForMediaViewer/
Disallow: /list/ls*/_ajax
Disallow: /*/*/rg*/mediaviewer/rm*/tr
Disallow: /*/rg*/mediaviewer/rm*/tr
Disallow: /*/mediaviewer/*/tr
Disallow: /title/tt*/mediaviewer/rm*/tr
Disallow: /name/nm*/mediaviewer/rm*/tr
Disallow: /gallery/rg*/mediaviewer/rm*/tr
Disallow: /tr/
Disallow: /title/tt*/watchoptions
Disallow: /search/title/?title_type=feature,tv_movie,tv_miniseries,documentary,short,video,tv_short&release_date=,2020-12-31&lists=%21ls538187658,%21ls539867036,%21ls538186228&view=simple&sort=num_votes,asc&aft
Disallow: /name/nm*/filmotype/*

User-agent: Baiduspider
Disallow: /list/*
Disallow: /user/*

In [3]:
# Verifique se a palavra  top  ou  charts  está presente no conteúdo do texto. 
# Se sim, imprima  True , senão imprima  False .

if "top" in robots or "charts" in robots:
  print("True")
else:
  print("False")

False

In [4]:
#GETTING PAGE CONTENT 

from bs4 import BeautifulSoup
import requests
import pandas as pd
import re


page = requests.get("https://www.imdb.com/chart/top/")

soup = BeautifulSoup(page.content, "html.parser")
#print(soup.prettify())

#SCRAPPING MOVIE NAMES
scraped_movies = soup.find_all('td', class_ = 'titleColumn')

#PARSING MOVIE NAMES
movies = []
for movie in scraped_movies :
  movie = movie.get_text().replace("\n", "")
  movie = re.sub(' +', ' ', movie)
  movie = movie.strip(" ")
  movies.append(movie)

#SPLITTING POSITION AND NAME
position_ = []
movies_ = []
for m in movies:
  position = m.split(".")[0]
  position_.append(position)
  movies = m.split(".")[1]
  movies_.append(movies)

#SEPARATING NAME AND RELEASED YEAR

released_year = []
movie_names = []
error = []

for movie in movies_:
  try:    
    movie_names.append(re.split("\(|\)", movie)[0])
    released_year.append(re.split("\(|\)", movie)[1])  
  except:
    error.append(movie)

#GETTING THE TOP 10
p_10 =  position_[0:10]
m_10 = movie_names[0:10]
y_10 =  released_year[0:10]

In [5]:
#SCRAPPING FILM RATING
scraped_rates = soup.find_all('td', class_ = 'ratingColumn imdbRating')
rates = []
for rate in scraped_rates:
  rate = rate.get_text().replace("\n","")
  rates.append(rate)
r_10 = rates[0:10]

In [6]:
# STORING SCRAPED DATA
import pandas as pd
data = pd.DataFrame()
data['Positions'] = p_10
data['Movies'] = m_10
data['Released_Year'] = y_10
data['Qualification'] = r_10

data

,Positions,Movies,Released_Year,Qualification
0,1,The Shawshank Redemption,1994,9.2
1,2,The Godfather,1972,9.2
2,3,The Dark Knight,2008,9.0
3,4,The Godfather Part II,1974,9.0
4,5,12 Angry Men,1957,9.0
5,6,Schindler's List,1993,8.9
6,7,The Lord of the Rings: The Return of the King,2003,8.9
7,8,Pulp Fiction,1994,8.8
8,9,The Lord of the Rings: The Fellowship of the ...,2001,8.8
9,10,"The Good, the Bad and the Ugly",1966,8.8

In [7]:
#SAVING IN A CSV FILE
data.to_csv("Top_10_movies.csv")